@media only screen and (min-width: 25em) {
  main {
    background-image: url('../images/IMG_4819.jpg');
    background-size: cover;
    margin: auto;
    margin-top: -1.5em;
    padding: 14em;
  }
  img {
    display: none;
  }
  h1 {
  margin: auto;
  }
  footer: {
    footer {
      margin: auto;
      }
  }
}
  