@media only screen and (min-width: 32.5em) {
  main {
    background-image: url('../images/IMG_4819.jpg');
    background-size: cover;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: -1.5em;
    padding: 14em;
  }
  img {
    display: none;
  }
}
  