@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

h1 {
    font-family: "Ubuntu Condensed", sans-serif;
    padding: 2em;
    background-color: #393442;
    color: #E1D8CF;
}
h3 {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #84564E;
}
ul li {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #84564E;
}

footer {
    font-family: "Ubuntu Condensed", sans-serf;
    padding: 1.5em; 
    background-color: #393442;
    color: #E1D8CF;
}
img {
    margin-top: -3em;
    width: 600px;
    height: 400px;
}