@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

h1 {
    font-family: "Ubuntu Condensed", sans-serif;
    padding: 2em;
    background-color: #393442;
    color: #E1D8CF;
    margin-left: 4em;
    margin-right: 4.5em;
}
h3 {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #84564E;
   margin-left: 10em;
   margin-top: 6em;
}
ul li {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #84564E;
    margin-left: 10em;

}

footer {
    font-family: "Ubuntu Condensed", sans-serf;
    padding: 1.5em; 
    background-color: #393442;
    color: #E1D8CF;
   margin-left: 8em;
  margin-right: 9em;
    
}
  
img {
    margin-top: -14em;
    width: 900px;
    height: 500px;
    margin-left: 8em;
    margin-right: 10em;
}