@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
h2 {
	text-align: left;
	margin-left: 3em;
	margin-right: 3em;
}
.heroimage {
	margin-left: 3em;
	margin-right: 3em;
}
.fivedayforecast {
	margin-left: 3em;
	margin-right: 3em;
}
.article {
	margin-left: 3em;
	margin-right: 3em;
}
.contactinfo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
}
.contactinfo h3 {
	grid-column: 2/3;
}
.contactinfo p {
	grid-column: 2/3;
}
.contactinfo img {
	grid-column: 1/2;
}