@media only screen and (min-width: 32.5em) {
	nav {
		margin: 0 auto;
		background-color: #7EB4BD;
		color: white;
		margin-top: -1em;
	}
	
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
h2 {
	text-align: left;
	margin-left: 2em;
	margin-right: 2em;
}
.heroimage {
	width: 90%;
	height: 400px;
	margin-left: 3em;
	margin-right: 3em;
}
.weathersummary {	
	background: #909888;
	color: white;
	margin-right: 45em;
	margin-left: 5em;
	position: relative;
	bottom: 21em;
}
.fivedayforecast {
	margin-top: -4em;
}
.fiveimages img {
	display: block;
	width: 60%;
}
.fiveimages {
	margin-left: 2em;
	margin-right: 2em;
	background-color: #909888;
	padding: 0em;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: .5em;
}


.article {
	margin-left: 3em;
	margin-right: 3em;
	border: 2px solid #909888;
	margin-bottom: 1em;
	margin-top: 1em;
}
.articleimg {
	width: 300px;
	float: right;
    height: 200px;
    margin-top: -15em;
    margin-left: 2em;
}
.contactinfo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
	margin: 0em;
}
.contactinfo h3 {
	grid-column: 2/3;
}
.contactinfo p {
	grid-column: 2/3;
	margin-top: -3em;
}
.contactpic {
	width: 60%;
	margin-top: -10em;
	margin-left: 3em;
}
.socialmedialinks {
	display: block;
	width: 10%;
}
}