header {
   display: grid;
   grid-template-columns: 200px 1fr;
   color: white;
   font-family: Suez One, serif;
   font-size: 15px;
   background-color: #b6d7d9;
}
 header p {
     grid-column: 2/3;
     margin-top: -;
     margin-left: 1em;
     font-family: DM Sans, sans-serif;
 }
.logo {
    width: 70%;
    margin-top: 1em;
    border-left: -1em;
    border-radius: 20px 20px 20px 20px;
}