header {
   display: grid;
   grid-template-columns: 200px 1fr;
   color: #7eb4bd;
   font-family: Suez One, serif;
   font-size: 15px;
}
 header p {
     grid-column: 2/3;
     margin-top: -5em;
     margin-left: 1em;
     font-family: DM Sans, sans-serif;
 }
