h1 {
    font-size: 35px;
    color: white;
    background-color: black;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {background-color: black;}
    to {background-color: gold;}
}


h2 {
    font-size: 30px;
    color: black;
    background-color: red;
    animation-name: exampletwo;
    animation-duration: 4s;
}

@keyframes exampletwo {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: blue;}
    100% {background-color: green;}
}
/*
h3 {
    font-size: 20px;
    color: white;
    background-color: purple;
    position: relative;
    animation-name: examplethree;
    animation-duration: 4s;
    animation-delay: -2s;
}
 @keyframes examplethree {
     0% {background-color: turquoise; left:0px; top:0px;}
     25% {background-color: teal; left: 200px; top: 0px;}
     50% {background-color: thistle; left: 200px; top: 200px;}
     75% {background-color: yellowgreen; left: 0px; top: 200px;}
     100% {background-color: purple; left: 0px; top: 0px;}
 }
 */
 div {
     color: white;
     width: 100px;
     height: 100px;
     background-color: green;
     position: relative;
     animation-name: examplefour;
     animation-duration: 4s;
     animation-iteration-count: 3; 
     animation-direction: alternate-reverse;
 }

 @keyframes examplefour {
    0%   {background-color:green; left:0px; top:0px;}
    25%  {background-color:rgb(0, 60, 128); left:200px; top:0px;}
    50%  {background-color:yellowgreen; left:200px; top:200px;}
    75%  {background-color: yellow; left:0px; top:200px;}
    100% {background-color: turquoise; left:0px; top:0px;}
  }
