
img {
    display: block;
    padding: 2em;
    margin: auto;
    margin-bottom: 3px;
    border: 1px solid grey;
}
h1 {
    text-align: center;
}

img[data-src] {
    filter: blur(.02em);
}

img {
    filter: blur(0em);
    transition: filter .5s;
}