@media only screen and (min-width: 40em) {
    nav {
      margin-top: -1em;
    }
    .ham {
      display: none;
    }
  
    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; /* change state in small view */
      flex: 1 1 auto;
    }
    .navigation a {
      text-align: center;
    }
    .navigation li:first-child {
      display: none;
    }
    header h1 {
      margin-top: 0em;
    }
  header {
    grid-template-columns: 25% 70%;
  }
    main {
      max-width: 1700px;
      margin: 2em;
      margin-top: -1em;
    }
    h2 {
      text-align: left;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    .map {
        display: block;
        width: 100%;
    }
    .map-two {
        display: none;
    }

    .hero {
      margin-top: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }

    .display section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .display section h2 p {
      grid-column: 1/2;
    }
}