header {
    text-align: center;
}
div {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #B6B5C3;
    text-align: center;
}
h1 {
    color: #4F4F78;
}
h2 {
    color: #4F4F78;
}
img {
    width: 80%;
    height: 550px;
}
section {
    border: 2px solid #74747C;
}