table {
    font-family: Ubuntu, sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 2em;
}

th {
    font-size: 22px;
    padding: .5em;
}
td {
    padding: .5em;
    font-size: 13px;
}

tr:nth-child(2) {
    color: white;
}
tr:nth-child(9) {
    font-size: 8px;
}
.heading {
    color: white;
}
