table {
    font-family: Ubuntu, sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    border-collapse: collapse;
    border: 1px solid #d3d3d3 ;
}

th {
    font-size: 22px;
    padding: .5em;
}
td {
    padding: .5em;
    font-size: 13px;
    border: 1px solid #d3d3d3;
}

tr:nth-child(2) {
    color: white;
}

.heading {
    color: white;
}
