table {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
    box-shadow: 5px 10px 8px #888888;
}

th {
    font-size: 22px;
    padding: .5em;
}
td {
    padding: .5em;
    font-size: 13px;
    border: 1px solid #d3d3d3;
}

tr:nth-child(2) {
    color: white;
}

.highlight {
    color: white;
}
tr:nth-child(9) {
    background-color:  #7fb9c2;
}