@media only screen and (min-width: 80em) {
    h1 {
        font-size: 40px;
    }
  header {
      grid-template-columns: 200px 1000px 1fr;
  }
  header p {
      font-size: 20px;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1700px;
  }
  figure:hover {
  box-shadow: 0 0 50px #333;}
 }
 .display section {
    display: block;
  }
  .display {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2em;
  }
  .display section:nth-child(even) {
      grid-column: 2/3;
  }
  .home-events {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2em;
  }
  .article2pic {
      float: none;
      margin: auto;
      width: 100%;
  }
  .turkeyimg {
      float: none;
      margin: auto;
      width: 100%;
  }
  .display img {
      width: 70%;
      margin: auto;
  }
  .display section:nth-child(even) img {
    margin-top: auto;
  }
}