@media only screen and (min-width: 50em) {
    nav {
      margin-top: -1em;
    }
    .ham {
      display: none;
    }
  
    .navigation {
      display: flex;
      margin-top: -1em;
    }
    .navigation li {
      display: block; /* change state in small view */
      flex: 1 1 auto;
    }
    .navigation a {
      text-align: center;
    }
    
    header h1 {
      margin-top: 0em;
      font-size: 25px;
    }
    header p {
      font-size: 15px;
    }
    header {
      grid-template-columns: 90px 1fr;
  }
  
  .logo {
    width: 70px;
  }
    main {
      max-width: 1700px;
      margin: 2em;
      margin-top: -1em;
    }
    h2 {
      text-align: left;
    }
    
    .hero-banner {
      position: relative;
    }
    .weathersummary {
      background: #B2D3E1;
      color: #383638;
      width: 200px;
      position: absolute;
      float: left;
      margin-left: 5%;
      top: 15%;
    }
    .weathersummary h3 {
      border-bottom: 2px solid #383638;
    }
  
    .fivedayforecast {
      margin-bottom: 2em;
      text-align: left;
      margin-top: -em;
      padding-top: 1em;
      text-align: center;
      border-top: none;
    }
    .fivedayforecast h3 {
      font-size: 50px;
    }
    .fiveimages img {
      display: block;
      width: 80%;
      margin: auto;
    }
    .fiveimages {
      color: white;
      display: grid;
      grid-template-columns: 19% 19% 19% 19% 19%;
      grid-gap: 0.5em;
      margin-left: -1em;
    }
    .article {

      margin-bottom: 1em;
      margin-top: 1em;
    }
    
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    .map {
        display: block;
        width: 100%;
    }
    .map-two {
        display: none;
    }
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .display section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    .display section p {
      grid-column: 1/2;
    }
    .display section img {
      grid-column: 2/3;
    }
    .display section h2 {
      grid-column: 1/2;
      text-align: center;
    }
    .display section:nth-child(even) img {
      grid-column: 1/2;
    }
    .display section:nth-child(even) h2 {
      grid-column: 2/3;
    }
    .display section:nth-child(even) p {
      grid-column: 2/3;
    }
    
    .display img {
      margin: auto;
      width: 300px;
      margin-top: -14.2em;
    }
    .display section:nth-child(even) img {
      margin-top: -17.2em;
    }
    .thanks {
      text-align: left;
    }
    .articleimg2 {
      float: right;
    }
  }