#banner {
    display: none;
    font-family: DM Sans, sans-serif;
    text-align: center;
    background-color: #B0781C;
    color: white;
    padding: 0.7em;
  }
  header {
    display: grid;
    grid-template-columns: 20% 60% 10%;
    grid-gap: .5em;
    color: #508EA6;
    font-family: Suez One, serif;
    font-size: 10px;
    background-color: #B2D3E133;
    
    align-items: center;
  }
  header h1 {
    justify-content: center;
  }
  .ham {
    grid-column: 3/4;
    padding: 2em;
    font-size: 50px;
    color: #508EA6;
    text-decoration: none;
    text-align: center;
  }
  .ham:hover {
    background-color: #383638;
    color: white;
  }
  header p {
    font-family: DM Sans, sans-serif;
    color: #B0781C;
  }
  .logo {
    width: 60px;
    border-radius: 30px 30px 30px 30px;
    padding: ;
    padding-left: 1em;
    justify-content: center;
  }
  .background {
    margin-top: -2em;
    background-color: #B2D3E133;
  }
  nav {
    background-color: #383638;
    color: white;
    margin-top: -1em;
  }
  
  .navigation {
    list-style: none;
    padding: 0;
  }
  
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: DM Sans, sans-serif;
  }
  .navigation a:hover {
    color: white;
    background-color: #B0781C;
  }
  .responsive li {
    display: block;
  }
  .active {
    text-decoration: underline;
  }
  h2 {
    color: #383638;
    font-family: DM Sans, sans-serif;
    text-align: center;
    font-size: 30px;
  }
  .background {
    margin-top: -1em;
  }
  main {
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top: -1em;
  }
  footer {
    font-family: DM Sans, sans-serif;
    background-color: #B0781C;
    color: white;
    padding: 4em;
    text-align: center;
    margin-top: -2em;
    font-size: 15px;
  }
  picture .photo-a{
    width: 100%;
  }
  picture .photo-b {
    width: 100%;
    
  }
  picture .photo-c {
    width: 100%;
    
  }
  picture img {
    width: 100%;
  }
  .weathersummary {
    font-family: DM Sans, sans-serif;
    color: white;
    background-color: #383638;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: .25em;
    padding-top: .25em;
    font-size: 17px;
    text-align: center;
    margin-top: 1.5em;
  }
  .weathersummary h3 {
    border-bottom: 2px solid white;
  }
  .weatherdetails {
    text-align: left;
  }
  
  .fivedayforecast {
    font-family: DM Sans, sans-serif;
    color: #383638;
    font-size: 30px;
    padding: 2em;
    text-align: center;
    margin-top: -2em;
  
  }
  .five-day {
    text-align: center;
    background-color: #508EA6;
    color: white;
    margin-bottom: .5em;
  }
  .fiveimages img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .article {
    font-family: DM Sans, sans-serif;
    background-color: #B2D3E1;
    color: #383638;
    font-size: 25px;
    padding: 1.5em;
    border: 2px solid #383638;
  }
  
  .contactsection {
    background-color: #383638;
    color: white;
    font-family: DM Sans, sans-serif;
    padding: 1.5em;
    padding-bottom: 2.5em;
    font-size: 20px;
  }
  .contactsection h2 {
      color: white;
      text-align: left;
  }
  .map {
    display: none
  }
  .map-two {
      width: 100%;
      margin-top: 1em;
  }
  .social img{
      width: 10%;
  }
  
  
  .weatherheading {
    font-family: DM Sans, sans-serif;
    color: #508EA6;
    padding-top: 1em;
    padding-left: 1em;
    margin-top: -.5em;
  }
  img[data-src] {
    filter: blur(.2em);
  }
  
  img {
    filter: blur(0em);
    transition: filter 1s;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding: 2em;
    margin-bottom: 2em;
  }
  figcaption {
      font-family: DM Sans, sans-serif;
      color: #508EA6;
      margin-left: .5em;
      margin-bottom: .5em;
   }
  
  .visit {
    padding: 2em;
    padding-bottom: 4em;
    background-color: #383638;
    color: white;
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-style: italic;
    margin-top: -2.2em;
    margin-bottom: 1em;
  }
  img {
    width: 100%;
  }
  #additional {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  .flexly {
    display: flex;
    color: #508EA6;
    margin-top: 1em;
  }
  #ratingvalue {
    color: #508EA6;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  form {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 500px;
  }
  .report {
    padding-top: 1em;
    margin-top: -.5em;
  }
  form fieldset {
      margin: 2rem 0;
      border: 2px solid #508EA6;
      border-radius: 10px;
      padding: .5rem 2%;
      font-family: DM Sans, sans-serif;
  }

  form legend {
    color: #508EA6;
    font-size: 1.5em;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #508EA6;
    font-size: 1rem;
}
form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #508EA6;
  padding: .75rem;
  color: #508EA6;
  width: 90%;
  max-width: 20rem;
  background-color: white;
}
form label.sbs {
  display: block;
  padding: 1rem 0;
  color: #508EA6;
}
form input.submitBtn {
  border: none;
  background-color: #FFD700;
  color: white;
  font-family: DM Sans, sans-serif;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin-bottom: 5em;
  margin-top: -1em;
  width: 96%;
  max-width: 20rem;
}

form input:focus {
  background-color: #B0781C;
}
form input:hover {
  background-color: #B2D3E1;
}
.thanks p {
  font-family: DM Sans, sans-serif;
  color: #508EA6;
  margin-left: 2%;
}
.thanks {
  padding: 2em;
  margin-bottom: 2em;
  text-align: center;

}

.display section {
  background-color: #B2D3E1;
  color: #383638;
  padding: .5em;
  
  margin-bottom: 1em;
}


section h2 {
  color: #383638;
  font-weight: bold;
  font-size: 30px;
}
.display p {
  font-family: DM Sans, sans-serif;
  font-size: 15px;
}
.display {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
}
.display p:nth-child(2) {
font-style: italic;
}




.home-events {
margin-bottom: 3em;
padding-top: .5em;
font-size: 17px;

}
.home-events div {
padding: 1em;
background-color: #B2D3E1;
font-family: DM Sans, sans-serif;
margin-bottom: 1em;
}
.home-events h2 {
text-align: left;
margin-left: 1em;
}
.event-heading h2 {
color: #B0781C;
font-size: 50px;
}
.display img {
border: 2px solid grey;
width: 60%;
vertical-align: middle;

}
.article2 {
  font-family: DM Sans, sans-serif;
  color: #383638;
  background-color: #B2D3E1;
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #383638;
}

.articleimgone {
  display: none;
  width: 250px;
}
.articleimgtwo {
  width: 100%;
  width: 250px;

  
}