@media only screen and (min-width: 80em) {
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
    width: 100%
}
th, td {
    text-align: center;
    padding: 30px;
}
tr:nth-child(2) {
    background-color: yellow;
}
}