@media only screen and (min-width: 80em) {
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
  

}
th, td {
    text-align: center;

}
table:nth-child(1) {
    background-color: #B6D7D9;
}
}