@media only screen and (min-width: 80em) {
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}