@media only screen and (min-width: 32em) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .color {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .junglemist {
        grid-column: 1/2;
        background-color: #B6D7D9;
    }
}