nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo {
    width: 50%;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #5C9894;
}

h1 {
    color: 
}