nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo {
    width: 50%;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #5C9894;
}

h1 {
   
}