nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo {
    width: 50%;
}
header {
    display: flex;
    color: #5C9894;
}

h1 {
   grid-column: 2/3;
   justify-content: left;
}