@media only screen and (min-width: 70em) {
 .joinnow {
     display: block;
     font-family: Poppins, sans-serif;
     margin-top: 1em;
    }
.joinnow a{
    background-color: #E65C46;
    color: white;
    margin-right: 1em;
    padding: .25em;
    text-decoration: none;
    font-size: 20px;
}
.joinnow a:hover {
    background-color: #55BF90;
}

.ham {
    display: none;
}
nav {
    background-color: white;
    margin-left: 0em;
    text-align: right;
}
.navigation {
    display: flex;
    background-color: white;
    justify-content: space-around;
}

.navigation li {
    display: block;   
}

.navigation a {
    text-align: center;
    color: #5B4E93;
    font-size: 20px;
}
.navigation a:hover {
    color: #55BF90;
    background-color: white;
}

.social img {
    display: inline;
    width: 30px;
}
.top {
    display: block;
}
header {
    display: grid;
    grid-template-columns: 300px 1fr 150px;
}
.active {
    background-color: white;
    text-decoration: underline;
}
.about {
    display: grid;
    grid-template-columns: 65% 35%;

}

.about img {
    width: 100%;
    display: block;
    grid-column: 2/3;

}
.about p {
    grid-column: 1/2;
    line-height: 1.6;
}

}