@media only screen and (min-width: 50em) {
.logo {
    width: 180px;
}
footer {
    display: grid;
    grid-template-columns: 50% 50%;
}
.top {
    display: flex;
    justify-content: space-around;
}
.topjoin a {
    font-size: 1em;
}
.herotext p {
    display: block;
    text-align: left;
    font-size: 20px;
}
.herotext h1 {
    font-size: 30px;
}
.herotext a {
    color: white;
    text-decoration: none;
}
.herotext a:hover {
    color: #55BF90;
}
.highlightgrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1em;
    margin-right: 1em; 
}
.comp1 p {
    border-bottom: none;
}
.comp2 p {
    border-bottom: none;
}
.events {
    display: grid;
    grid-template-columns: 70% 28%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}
.event1 {
    border-bottom: none;
    grid-row: 1/3
}
.event2 {
    padding-bottom: 0px;
}


.event3 {
    grid-column: 2/3;
    grid-row: 2/3;
    border-bottom: none;
}
.todaysweather {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 2em;
    margin-right: 2em;
    grid-gap: 1em;
}

.days {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1em;
}

 .three-temp {
        font-size: 50px;
        text-align: center;
    }
    .funfacts {
        grid-template-columns: 33% 33% 33%;
    }
.history img {
    float: left;
    width: 400px;
    margin-right: 1em;
}
form {
    margin-left: 2em;
    margin-right: 2em;
}

.contactmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid grey;
}
.membercontact {
    grid-column: 1/2;
}
.contactformsection {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 1em;
    margin-top: 2em;
    padding-bottom: 1em;
}
.cpic img {
    display: block;
    width: 100%;
}


}

