@media only screen and (min-width: 50em) {
.logo {
    width: 180px;
}
footer {
    display: grid;
    grid-template-columns: 50% 50%;
}
.top {
    display: flex;
    justify-content: space-around;
}
.herotext p {
    display: block;
    text-align: left;
    font-size: 20px;
}
.herotext h1 {
    font-size: 30px;
}
.herotext a {
    color: white;
    text-decoration: none;
}
.herotext a:hover {
    color: #55BF90;
}
.highlightgrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1em;
    margin-right: 1em; 
}
.comp1 p {
    border-bottom: none;
}
.comp2 p {
    border-bottom: none;
}
.events {
    display: grid;
    grid-template-columns: 60% 38%;
    grid-gap: 1em;
}
.event1 {
    border-bottom: none;
}
.event2 {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
}
}