.top {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.logo {
    width: 150px;
    grid-column: 2/3;
    margin: auto;
}
.ham {
    font-size: 50px;
    color: #5B4E93;
    text-decoration: none;
    text-align: center;
    grid-column: 3/4;
    margin-top: .25em;
    margin-right: 5%;
}

.ham:hover {
    color: #55BF90;
}

nav {
    background-color: black;
    color: white;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: Open Sans, sans-serif;
}

.navigation a:hover {
    color: white;
    background-color: #55BF90;
}

.responsive li {
    display: block;
}

.social img {
   display: none;
}
.active {
    background-color: #55BF90;
}

.footer1 {
    background-color: #E65C46;
    color: white;
    font-family: Open Sans, sans-serif;
    padding: 1em;
    line-height: 1.6;
}

.footer2 {
    background-color: #5B4E93;
    color: white;
    font-family: Open Sans, sans-serif;
    padding: 1em;
    line-height: 1.6;
}
.footersocial img {
    width: 40px;
    padding: .25em;
}


picture .photo-a {
    width: 100%;
}
picture .photo-b {
    width: 100%;
}

picture .photo-c {
    width: 100%;
    margin: auto;
}
picture img {
    width: 100%;
}
.herotext {
    position: absolute;
    margin-top: -36%;
    color: white;
    font-family: Poppins, sans-serif;
    text-align: center;
    margin-left: 10px;
}
.herotext p {
    display: none;
}
.herotext h1 {
    font-size: 20px;
}
.about1 {
    background-color: #5B4E93;
    color: white;
    text-align: center;
    padding: 1em;
}
.about h2 {
    font-family: Poppins, sans-serif;
}
.about p {
    font-family: Open sans, sans-serif;
}
.about img {
    display: none;
}
.about {
    margin-top: -4px;
}
.highlights {
    margin-right: 1em;
    margin-left: 1em;
}
 h2 {
    font-family: Poppins, sans-serif;
    overflow: hidden;
}
h2:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 2px solid black;
}

.about h2:after {
    display: none;
}
.highlights h3 {
    font-family: Poppins, sans-serif;
    padding-bottom: .5em;
   
}

.highlights p {
    font-family: Open Sans, sans-serif;
    font-style: italic;
    padding-bottom: 1.5em;
    
}
.weather h2 {
    font-family: Poppins, sans-serif;
}
.highlights img {
    width: 100%;
}
.highlights a {
    text-decoration: none;
    color: #55BF90;
}
.highlights a:hover {
    color: #E65C46;
}

.comp1 p{
  border-bottom: 1px solid grey;
}
.comp2 p {
    border-bottom: 1px solid grey;
    margin-top: -1.2em;
}
.weather {
    margin-left: 1em;
    margin-right: 1em;
    font-family: Open Sans, sans-serif;
}
.weather1 {
    border: 1px solid grey;
    padding: 1em;
    background-color: #d8d8d8;
}
.currently {
    font-family: Poppins, sans-serif;
    font-size: 100px;
}
.forecastheading {
    overflow: hidden;
}
.forecastheading:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid grey;
}
.calendar {
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 2em;
}
.calendar h3 {
    font-family: Poppins, sans-serif;
}
.calendar p {
    font-family: Open Sans, sans-serif;
}
.events img {
    width: 100%;
}
.event1 {
    border-bottom: 1px solid grey;
    padding-bottom: 2em;
}
.event2 {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
}
.three-day {
    border: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
}
#currenticon {
    width: 100px;
}
.three-temp {
    font-size: 50px;
}
.three-day img {
    width: 80px;
}